<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>no other user</key>
	<dict>
		<key>errorCode</key>
		<string>504</string>
		<key>description</key>
		<string>상대방이 채팅방을 나갔습니다.</string>
	</dict>
	<key>not found toUSer`s playerId</key>
	<dict>
		<key>errorCode</key>
		<string>503</string>
		<key>description</key>
		<string>채팅방에 상대방이 없습니다.</string>
	</dict>
	<key>user not found</key>
	<dict>
		<key>errorCode</key>
		<string>602</string>
		<key>description</key>
		<string>사용자를 찾을 수 없습니다.</string>
	</dict>
	<key>need playerId</key>
	<dict>
		<key>errorCode</key>
		<string>601</string>
		<key>description</key>
		<string>푸쉬 전송을 위한 키가 등록되지 않았습니다. 관리자에게 문의 부탁드립니다.</string>
	</dict>
	<key>ER_DUP_ENTRY</key>
	<dict>
		<key>errorCode</key>
		<string>502</string>
		<key>description</key>
		<string>중복된 데이터입니다.</string>
	</dict>
</dict>
</plist>
